body{
    background: #6D6867 url('src/spinning-gif.gif') 2em 2em fixed;
    font-size: 200%;
    color: purple;
    font-family: sans-serif;
    margin: 1em auto;
    border: 1px solid black;
    padding: 1em;
}
a:link{
    color: purple;
    text-decoration: none;
}
a:visited{
    color: purple;
    
}
.col-3{
    transform: translate(-7em) scale(0.8);
}
